<div class="main container">
	<div class="row">
		<div class="col-xs-12">
			<div class="main-title">Кращі страви цього місяця!</div>
			<div class="main-index-cards index-cards cards">
				{% for product in top_products %}
				<div class=" index-card card" style="width: 18rem;">
					<img src="{{{ product.thumb }}}" class="card-img-top" alt="{{{ product.name }}}">
					<div class="index-card-body card-body">
						<div class="index-card-text card-text">
							<p class="index-card-text-name card-text-name">{{{ product.short }}}</p>
							<p class="index-card-text-price card-text-price">{{{ product.price }}} {{{ currency }}}
							</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<button class="btn btn-more btn-outline-light header-btns-btn2">Замовити</button>
			<button class="btn btn-more btn-outline-light header-btns-btn2">Більше</button>
		</div>
	</div>
</div>
<div class="vline"></div>
<div class="special-for-you">
	<div class="main container">
		<div class="row">
			<div class="col-xs-12">
				<div class="special-for-you-wrapper">
					<div class="special-for-you-text">
						<div class="special-for-you-title">Пропозиція тиждня!</div>
						<div class="special-for-you-description">{{{top_products[0].short}}}</div>
						<div class="special-for-you-buttons">
							<button class="btn btn-outline-light header-btns-btn2">Замовити</button>
							<button class="btn btn-outline-light header-btns-btn2"> Залишити відгук</button>
						</div>
					</div>
					<div id="special-offer-cards" class="index-cards cards">
						<div id="special-offer-card" class="index-card card" style="width: 18rem;">
							<img src="{{{ top_products[0].thumb }}}" class="card-img-top" alt="{{{ product.name }}}">
							<div class="index-card-body card-body">
								<div class="index-card-text card-text">
									<p class="index-card-text-name card-text-name">{{{ top_products[0].short }}}</p>
									<div class="price-discount">
										<p class="index-card-text-price card-text-price">{{{ top_products[0].price }}}
											{{{currency }}}</p>
										<p class="text-canceled">{{{ top_products[0].price + 199}}} {{{currency }}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="vline"></div>
<div class="container review-section">
	<div class="review-section-title">Наші відгуки</div>
	<div class="reviews">
		{% for review in reviews %}
		<div class="review-card">
			<div class="review-card-title">
				<div class="review-card-title-pfp">
					{% if review.img !== "#" %}
					<img src="{{{review.img}}}" alt="" height="30px">
					{% else %}
					<i class="bi bi-person-circle"></i>
					{% endif %}
				</div>
				<div class="review-card-title-name">{{{review.name}}}</div>
			</div>
			<div class="review-card-text">{{{review.text}}}</div>
			<div class="review-card-rating">
				<p>Rating: </p>
					{% for i in Array.from(Array(review.rating)) %}
						<i class="bi bi-star-fill"></i>
					{% endfor %}
					{% for i in Array.from(Array(5 - review.rating)) %}
						<i class="bi bi-star"></i>
					{% endfor %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>