
/* font family */
$ff-base: "Roboto",
sans-serif;
$ff-title: "Lato",
sans-serif;
$ff-second: 'Roboto',
sans-serif;

/* font-size */
$fs: 16px;


// ===== COLORS ===== 
$blue: #334D6E;
$sky: #3498DB;
$skyL: #58ACF5;
$grey: #BDBDBD;
$greyL: #F2F2F2;
$red: #A31010;
$redD: #8C1B0F;
$green: #089227;
$white: #fff;
$black: #000;
$dark: #000;

/* variables */
$bg_color: if(variable-exists(--bg_color), var(--bg_color), '#111111');
$primary_color: if(variable-exists(--primary_color), var(--primary_color), '#d3c9b7');
$secondary_color: if(variable-exists(--secondary_color), var(--secondary_color), '#ff9f2f');
$primary_text_color: if(variable-exists(--primary_text_color), var(--primary_text_color), '#FFFFFF');
$secondary_text_color: if(variable-exists(--secondary_text_color), var(--secondary_text_color), '#ff9f2f');
$index_page_secondary_bg_color:  if(variable-exists(--index_page_secondary_bg_color), var(--index_page_secondary_bg_color), '#353535');
$foodcard_bg_color:  if(variable-exists(--foodcard_bg_color), var(--foodcard_bg_color), '#222222');
$foodcard_hover_color:  if(variable-exists(--foodcard_hover_color), var(--foodcard_hover_color), '#6e6e6e');
$discount_foodcard_canceled_text_color:  if(variable-exists(--discount_foodcard_canceled_text_color), var(--foodcard_hover_color), '#5f5f5f');
$review_card_bg_color: if(variable-exists(--review_card_bg_color), var(--review_card_bg_color), '#222222');

