<div class="header-f4-wrapper">
	<div class="header-f4 container">
		<div class="header-f4-scrollable">
			<ul class="nav nav-underline header-f4-items">
				{% for tag in tags %}
				<li class="nav-item"><a class="nav-link">{{{tag.name}}}</a></li>
				{%if not loop.last %}
				<div class="d-flex">
					<div class="vr"></div>
				</div>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
		<div class="vline"></div>
	</div>
</div>
<section class="main container">
	<div class="cards-wrapper">
		<div class="cards">
		{% for tag in tags %}
		{% if tag.products and tag.products | length %}
		<div class="products-category" id="{{{tag.name}}}">{{{ tag.name }}}</div>
		<div class="card-wrapper">
			{% for product in tag.products %}
			<div class="card" style="width: 18rem;">
				<img src="{{{ product.thumb }}}" class="card-img-top" onerror="this.style.display='none'" alt="{{{ product.name }}}">
				<div class="card-body">
					<div class="card-text">
						<p class="card-text-name">{{{ product.name }}}</p>
						<p class="card-text-weight">Вага: {{{ product.weight }}}</p>
						<p class="card-text-price">{{{ product.price }}} {{{ currency }}}</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		{% endfor %}
		<div class="anth_sections">
			<p>Інші секції:</p>
			<button type="button" class="btn btn-outline-light header-btns-btn2">Бар</button>
			<button type="button" class="btn btn-outline-light header-btns-btn2">Сніданки</button>
		</div>
	</div>
	</div>
</section>