
.footer-main-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}
@media only screen and (max-width: 770px) {
    .footer-main-container {
        flex-direction: column;
    }
    .footer-main-p1 {
        margin-bottom: 25px;
    }
}
.footer-main-p1 {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
}
.worktime {
    margin-top: 30px;
}
.footer-main-p2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    p {
        font-style: bold;
        margin: 0px;
        display: inline;
    }
    .footer-main-p2-map {
        width: 100%;
        iframe {
            width: 100%;
        }
    }
}

.worktime-schedule {
    .worktime-schedule-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    p {
        color: var(--primary_text_color);
        margin: 0;
    }
}
.credentials {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.copyright {
    margin: 15px;
    color: var(--primary_text_color);
    i, p {
        font-size: var(--fs_small);
        display: inline;
        padding: 2px;
    }
}
.policies {
    display: flex;
    flex-direction: row;
    a {
        text-decoration: none;
        color: var(--policies_text_color);
        display: inline;
        margin: 15px;
        font-size: var(--fs_small);
        font-style: normal;
        
    }
    a:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 510px) {
    .policies, .credentials {
        flex-direction: column;
    }
}