* {
    margin: 0px;
    padding: 0px;
}

header {
    position: sticky;
    width: 100vw;
    top: 0;
    z-index:2;
    background-color: var(--bg_color);
}
.header {
    .nav {
        --bs-nav-link-color: var(--primary_text_color);
        --bs-nav-link-hover-color: var(--secondary_color) !important;
        
    }
}
.nav {
    --bs-nav-link-color: var(--primary_text_color);
    --bs-nav-link-hover-color: var(--primary_text_color);
}

.header-f4-items {
    justify-content: space-around;
}

.nav-underline .nav-link.active {
    justify-content: center;
    flex: 1;
    --bs-nav-underline-link-active-color: var(--primary_text_color);
    color: var(secondary_color);
}
.header-f4 {
    .nav-underline .nav-link {
        border-bottom: none;
    }
    
}

body {
    background-color: var(--bg_color) !important;
    height: auto;
}
p {
    color: var(--primary_text_color);
}

.header-f1 {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    img {
        margin-right: 15px;
    }
}
.header-logo-name-p1 {
    line-height: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--fs_medium);
}
.header-logo-name-p2 {
    font-size: var(--fs_small);
}
.header-logo p {
    margin: 0px;
}
.header-btns {
    display: flex;
    button {
        margin: 5px;
        background-color: var(--bg_color);
    }
}

.header-btns-dropdown {
    display: none ;
}

@media only screen and (max-width: 465px) {
    .header-btns button:nth-child(-n + 1){
        display: none;
    }
}

.header-btns-btn1 {
    display: flex;
    flex-direction: row;
    i {
        padding-right: 10px;
    }
}
.header-f2 {
    margin-top: 15px;
}
.header-f3-wrapper {
    background-color: var(--secondary_color);
    .header-f3 a{
        --bs-nav-link-hover-color: var(--primary_text_color);
    }
}

.header-f4-wrapper{
    position: relative;
    top: var(--dynamic-height);
    z-index: 1;
    position: sticky;
    background-color: var(--bg_color);
   
    cursor: grab;
    :active {
        cursor: grabbing;
    }
    .nav {
        flex-wrap: nowrap;
        text-wrap: nowrap;
    }
    .nav-item a {
        font-size: var(--fs_small);
        flex-wrap: nowrap;
    }
}
.header-f4-scrollable {
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow: hidden;
    a {
        color: var(--primary_text_color);

    }
    a:hover {
        color: var(--secondary_color);
    }
}
.header-f4 {
    position: relative;
}
.header-f4::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 100%;
    background: linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(17,17,17,0.7) 30%, rgba(17,17,17,0) 100%);
    z-index: 4;
}
.header-f4::after {
    content: "";
    position: absolute;
    top: 0px;
    right: 0; 
    width: 50px;
    height: 100%;
    background: linear-gradient(270deg, rgba(17,17,17,1) 0%, rgba(17,17,17,0.7) 30%, rgba(17,17,17,0) 100%);
    z-index: 4;

}
.vline {
    width: 100%;
    height: 1px;
    background-color: var(--secondary_color);
}

.header .nav-item:hover {
    cursor: pointer;
}

.vr {
    margin-top: auto;
    margin-bottom: auto;
    color: var(--primary_text_color);
    height: 10px;
}

//header-dropdown

.header-dropdown-wrapper {
    display: flex;
    justify-content: center;
}

.header-dropdown {
    position: absolute;
    top: -100px;
    left: auto;
    display: flex;
    justify-content: space-between;
    width: 30vw !important;
    min-width: 320px;
    height: auto;
    background-color: var(--review_card_bg_color);
    border: 1px solid var(--primary_text_color);
    border-radius: 0 0 25px 25px;
    transition: all .5s ease;
}
.header-dropdown-searchbar {
    flex: 1;
    width: auto;
}
.header-dropdown-opt-wrapper {
    flex: 1;
    display: flex;
}
.header-dropdown-exit-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--primary_text_color);
    font-size: var(--fs_medium);
    margin-right: 15px;
    & i {
        transition: all 0.2s ease;
    }
    & i:hover {
        color: var(--primary_color);
        transform: scale(120%);
    }
}
.search-input {
    width: 90%;
    margin: 15px 15px;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: var(--fs_small);
    line-height: 18px;
    color:  var(--primary_text_color);
    background-color: transparent; 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z' fill='%23ffffff'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid var(--primary_text_color);
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}
