.main-title {
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    color: #ffffff;
}

.index-cards {
    display: flex;
    justify-content: space-between;
}

.index-card-text p {
    color: #ffffff;
}

.btn-more {
    margin-left: 10px;
    margin-bottom: 25px;
}
    
.index-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .index-card {
        margin: 10px;
        --bs-card-border-color: #222222;
        background-color: #222222;
        transition: all .1s ease;
        .index-card-body {
            display: flex;
            flex-direction: column;
            .index-card-text-price {
                color: #ff9f2f;
            }
        }
        :nth-child(2) {
            display: flex;
        }
        
    }
    
}
.main-index-cards {
    padding-bottom: 25px;
}
.index-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #6e6e6e;
    transform: scale(105%);
}
.special-for-you {
    background-color: #353535;
    width: 100%;
    height: auto;
}

.price-discount {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .text-canceled {
        text-decoration: line-through;
        color: #5f5f5f;
        padding-left: 15px;
    }
}

#special-offer-card {
    box-shadow: 0px 0px 10px 0px #ff9f2f;
}

.special-for-you-wrapper {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.special-for-you-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 45px;
    padding: 15px;
    color: #ffffff;
    .special-for-you-description {
        font-size: 15px;
        width: 50%;
    }

    .special-for-you-buttons button{
        border: 1px solid #ff9f2f;
        color: #ff9f2f;
    }
}

.review-section {
    margin: 15px;
    .review-section-title {
        font-size: 25px;
        color: #ffffff;
    }
}

.reviews {
    display: flex;
    justify-content: space-around;
}

.review-card {
    margin: 15px;
    background-color: #222222;
    color: #ffffff;
    border: 1px #ff9f2f solid;
    padding: 15px;
    border-radius: 3%;
    width: 350px;
    .review-card-title {
        display: flex;
        div {
            padding-right: 10px;
            font-size: 25px;
        }
    }
    .review-card-text {
        font-size: 13px;
        height: 100px;
        overflow: hidden;
    }
    .review-card-rating { 
        color: #ff9f2f;
        p {
        color: #ff9f2f;
        font-size: 20px;
        display: inline;
        }
    }
}