* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-title {
    font-size: var(--fs_title);
    padding: 15px;
    color: var(--primary_text_color);
}

.index-cards {
    display: flex;
    justify-content: space-between;
}

.index-card-text p {
    color: var(--primary_text_color);
}

.btn-more {
    margin-left: 10px;
    margin-bottom: 25px;
}
    
.index-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .index-card {
        margin: 10px;
        --bs-card-border-color: var(--foodcard_bg_color);
        background-color: var(--foodcard_bg_color);
        transition: all .1s ease;
        .index-card-body {
            display: flex;
            flex-direction: column;
            .index-card-text-price {
                color: var(--secondary_color);
            }
        }
        :nth-child(2) {
            display: flex;
        }
        
    }
    
}
.main-index-cards {
    padding-bottom: 25px;
}
.index-card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px var(--foodcard_hover_color);
    transform: scale(105%);
}
.special-for-you {
    background-color: var(--index_page_secondary_bg_color);
    width: 100%;
    height: auto;
}

.price-discount {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    .text-canceled {
        text-decoration: line-through;
        color: var(--discount_foodcard_canceled_text_color);
        padding-left: 15px;
    }
}

#special-offer-card {
    box-shadow: 0px 0px 10px 0px var(--secondary_color);
}

.special-for-you-wrapper {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.special-for-you-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: var(--fs_title);
    padding: 15px;
    color: var(--primary_text_color);
    .special-for-you-description {
        font-size: var(--fs_small);
        width: 50%;
    }

    .special-for-you-buttons button{
        border: 1px solid var(--secondary_color);
        color: var(--secondary_color);
    }
}

.review-section {
    margin: 15px;
    .review-section-title {
        font-size: var(--fs_medium);
        color: var(--primary_text_color);
    }
}

.reviews {
    display: flex;
    justify-content: space-around;
}

.review-card {
    margin: 15px;
    background-color: var(--review_card_bg_color);
    color: var(--primary_text_color);
    border: 1px var(--secondary_color) solid;
    padding: 15px;
    border-radius: 3%;
    width: 350px;
    .review-card-title {
        display: flex;
        div {
            padding-right: 10px;
            font-size: var(--fs_medium);
        }
        .review-card-title-pfp img {
            border-radius: 50%;
        }
    }
    .review-card-text {
        font-size: var(--fs_small);
        height: 100px;
        overflow: hidden;
    }
    .review-card-rating { 
        color: var(--secondary_color);
        p {
        color: var(--secondary_color);
        font-size: var(--fs_medium);
        display: inline;
        }
    }
}